.live-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: aliceblue;
    margin-block-start: 5rem;
    text-align: center;

    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }

    .fallback-msg {
        font-family: 'montserrat-light';
        
        p {
            padding-block-end: 2rem;
            background-color: white;

            span {
                font-family: 'montserrat-bold';
                color: $clr1;
            }
        }

    }

    h1 {
        font-family: 'montserrat-med';
        padding-top: 2rem;
    }

    .lyrics-chords {

        p {
            margin-block: 2rem;

            strong {
                position: relative;
                bottom: 1rem;
                right: 1rem;
            }
        }
    }

    button {
        width: max-content;
        align-self: center;
        transition: 0.4s;
        margin-block-end: 2rem;

        &:hover {
            background-color: $clr1-light;
        }
    }

}