.main-page {
    display: flex;
    flex-direction: column;
    place-items: center;

    text-align: center;
    font-family: 'montserrat-thin';


    margin-block-start: 5rem;

    h1 {
        font-size: 2rem;
        margin-block: 1rem;
    }

    .top-main-page {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            justify-self: end;
            aspect-ratio: 3 / 2;
            object-fit: cover;
        }

        .admin-search {
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 1rem;

            input {
                font-size: 0.7rem;
                width: 15rem;
                padding: 0.5rem;
            }
        }

        @media (max-width: 750px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;

            .admin-search {
                order: 2;
                margin-block-end: 2rem;

                h1 {
                    margin: 0;
                }
            }
    
            img {
                order: 1;
            }
        }
    }


    a {
        display: inline-flex;
        font-size: 1rem;
        font-family: 'montserrat-light';
        color: $clr1-light;

        .arrow {
            margin-left: 0.2rem;
            transition: transform 0.3s ease;
        }

        &:hover .arrow {
            transform: translateX(5px);
        }
    }

    .img-credit {
        z-index: 50;
        position: relative;

        bottom: 2.5rem;
        right: -1rem;

        width: max-content;

        background-color: rgba(253, 216, 125, 70%);
        padding-inline: 0.5rem;
        border-radius: 10px;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0s 0.3s;

        &:hover {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease, visibility 0s 0s;
        }


        p {
            margin: 0;
            font-size: 0.6rem;

            a {
                font-family: 'montserrat-bold';
                color: $clr1;
                transition: 0.4s;
                font-size: 0.6rem;

                &:hover {
                    scale: 1.05;
                    cursor: pointer;
                }
            }

            &:last-of-type {
                font-size: 0.5rem;

                a {
                    font-size: 0.5rem;
                }
            }
        }
    }

    .top-main-page img:hover+.img-credit {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0s 0s;

    }
}