.app-footer{
    position: relative;
    bottom: 0;
    
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(0, 1200px) minmax(20px, 1fr);
    align-items: center;

    >* {
        grid-column: 2;
    }

    height: 3.5rem;
    width: 100%;

    padding: rem(10px) 0;
    background-color: white;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);

    p {
        margin: 0;
    }
    
    div {
        display: flex;
        place-items: end;
        justify-content: end;
        gap: 0.5rem;

        font-size: 0.7rem;
        color: $gray4;

        img {
            max-width: 1.2rem;
            transition: 0.4s;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover img {
            scale: 1.2
        }
    }
}