@font-face {
    font-family: 'montserrat-reg';
    src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'montserrat-thin';
    src: url(/src/assets/fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'montserrat-light';
    src: url(/src/assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'montserrat-med';
    src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(/src/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}