// Colors
// $clr1: #ce2e4e;
$clr1: #6185be;
$clr1-light: #84a5d4;
// $clr2: #d34f69;
$clr2: #fdd87d;
$clr2-dark: #f9c950;

// $clr3: #ce2e4e;
$clr3: #829443;



$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;